@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root{
    --text-color: #000;
    ---body-coor: #fff;
    --border-color:  #515151;
    --oh--color:#75C2F6;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
body{
    
    background-image: url('../assets/background.svg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

.si-header{
    padding: 0rem 0 0 3rem;
    /* background-color: antiquewhite; */
    width: 100%;
    height: 5rem;
    display: flex;
    gap: 2rem;
    text-align: center;
}
.si-logo-ctrl{
    width: 2rem;
    aspect-ratio: 1;
}
.si-logo{
    width: 100%;
    height: 100%;
}
.si-logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:500 ;
}

.si-main{
    padding-bottom: 5rem;
    margin-top: -2rem;
    width: 75%; 
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 4rem;
    place-self: center;
    
}
.si-form{
    padding: 3rem 2rem 2rem 2rem;
    width: 100%;
    height: fit-content;
    background-color: var(---body-coor);
    display: grid;
    grid-template-columns: 1fr;
    /* place-items: center; */
}
.si-t{
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.si-desc{
    margin-bottom: 2rem ;
    font-size: .7rem;
}

.si-input{
    margin-bottom: 8rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    height: fit-content;
}
input{
    width: 100%;
    height: 4rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
}
input:hover{
    border-bottom: 1px solid var(--oh--color);
}
.si-fp{
    width: 100%;
    text-decoration: none;
    text-align: right;
    font-size: .8rem;
}
/* input:focus{
border-bottom: 1px solid;
} */
.si-ca-ctrl{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
button{
    width: 100%;
    height: 2rem;
    background-color: var(---body-coor);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: .3rem;
    font-size: .9rem;
}
button:hover{
    border: 1px solid var(--oh--color);
    cursor: pointer;
}
.si-google-ctrl{
    margin-bottom: 1rem;
}
.si-google{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.su{
    font-size: .7rem;
    text-align: center;
}
.su-link{
    font-weight: 500;
    text-decoration: none;
}
.si-bi{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:center;
}
.si-bi-tt{
    font-weight: 500;
}
.si-bi-ctrl{
    width: 75%;
}
.si-bi-img{
    width: 100%;
}

@media screen and (max-width:1099px) {
    html{
        font-size: 12px;
    }
}
@media screen and (max-width:950px) {
    html{
        font-size: 10px;
    }
    body{
        height: fit-content;
    }
    .si-main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .si-form{
        width: 75%;
        margin-top: -15%;
    }
    .si-ca-ctrl, .si-google-ctrl{
        display: flex;
        justify-content: center;
    }
    button{
        width: 40%;
    }
    .si-bi-tt{
        font-size: 4rem;
    }
}
@media screen and (max-width:490px) {
    html{
        font-size: 10px;
    }
    body{
        height: 100vh;
    }
    .si-header{
        margin: unset;
    }
    .si-main{
        margin-top: -50rem;
        width: 90%;
        
    }
    .si-form{
        margin-top: unset;
    }
    .si-bi-tt{
        font-size: 2rem;
    }
    .si-input{
        margin-bottom: 9rem;
    }
    .si-bi-ctrl{
        display: none;
    }
    .si-bi-tt{
        font-size:3rem;
    }
    button{
        height: 4rem;
        font-size: 1.5rem;
    }
    button{
        width: 100%;
    }
}
@media screen and (max-height:750px) {
    .si-main{
        margin-top: unset;
    }
}