:root {
  --fontSize: 16px;
  --fontWeight: 500;
  --fontFamily: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url(assets/quilog-background.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

main {
  display: flex;
  width: 100%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  min-height: 100vh;
  /* border-right: 2px solid #97979740; */
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  box-shadow: #97979740 0px 5px 3px 2px, #97979740 0px -2px 3px 2px;
}

.profile-details::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.img-cont {
  margin: 0 auto;
  width: 200px;
  & img {
    max-width: 100%;
  }
}

.profile-text {
  text-align: center;
  & h3 {
    font-size: 2rem;
    font-weight: normal;
  }

  & span {
    display: block;
    width: 80%;
    margin: 15px 0 15px 8%;
    color: #4c4b4b;
  }
}

.profile-record {
  border-top: 2px solid #97979740;
  text-align: center;
  padding-top: 10px;

  & p {
    color: #4c4b4b;
    margin-top: 5px;

    & span {
      color: initial;
      font-weight: var(--fontWeight);
      margin-left: 5px;
    }
  }
}

.brand-logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 70%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .img-cont {
    width: 150px;
  }

  .profile-text {
    & h3 {
      font-size: 1.5rem;
    }

    & span {
      font-size: 0.9rem;
    }
  }

  .profile-record {
    & p {
      font-size: 0.9rem;
    }
  }

  .brand-logo {
    & img {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 350px) {
  /*Small smartphones [325px -> 425px]*/
  main {
    flex-direction: column-reverse;
  }

  .profile-details {
    width: 100%;
    min-height: fit-content;
    clip-path: none;
    box-shadow: none;
  }

  .img-cont {
    width: 100px;
  }

  .profile-text {
    & h3 {
      font-size: 1.2rem;
    }

    & span {
      font-size: 0.8rem;
    }
  }

  .profile-record {
    margin-bottom: 20px;
    & p {
      font-size: 0.8rem;
    }
  }

  .brand-logo {
    width: 80%;
    margin: 0 auto;
    & img {
      width: inherit;
    }
  }
}
